* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.Welcome-page {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    opacity: 0.9;
}
.background-1 {
    background-image: url('picture/heic1913a.jpeg');
}


.Welcome-page h2{
    font-size: 2em;
    margin-top: 20px;
    color: black;
}
.Welcome-page h1{
    font-size: 3em;
    margin-bottom: 20px;
    color: white;
}

.Welcome-page button{
    size: 3em;
    color: black;
    background-color: transparent;
}
