* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.Welcome-page {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    animation: fade 20s infinite;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    opacity: 0;
    animation: fade2 5s infinite;
}
.background-1 {
    background-image: url('picture/heic1913a.jpeg');
    opacity: 1; /* Make the first image visible at the start */
}

.background-2 {
    background-image: url('picture/Black_hole04.jpg');
    animation-delay: 5s;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    
}
@keyframes fade2 {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.Welcome-page h2{
    font-size: 2em;
    margin-top: 20px;
    color: black;
}
.Welcome-page h1{
    font-size: 3em;
    margin-bottom: 20px;
    color: white;
}
.Welcome-page button{
    font-size: 1em;
    margin-top: 10px;
}