body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.welcome-page {
    background-image: url('picture/heic1913a.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.main-page {
    text-align: center;
    padding: 20px;
}

.main-page h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.main-page h2 {
    font-size: 2em;
    margin-top: 20px;
}

.main-page p {
    font-size: 1em;
    margin-top: 10px;
}
